<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14814294333-v4a6aqnpqa5aajivssvr33vrjhl1mkat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14814294333-v4a6aqnpqa5aajivssvr33vrjhl1mkat</string>
	<key>API_KEY</key>
	<string>AIzaSyAykykHfdzS5gx9awFlMxB1qpUzmR2I9cY</string>
	<key>GCM_SENDER_ID</key>
	<string>14814294333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>firebase-auth-cubit-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-auth-cubit-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14814294333:ios:ef32a345c2d77227b35554</string>
</dict>
</plist>